/* Common */

* {
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #dcd7ba;              
}

body {
    background-color: #323437;   
    color: #dcd7ba;
    font-family: monospace;
    margin-bottom: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2c2e31;   
    font-size: 1.1rem;
}

.left-header {
    align-content: center;
}

.mid-header {
    display: flex;
}

.mid-header [class] {
    margin-left: 20px;
    padding: 5px;
    background-color: #45494d;   
    color: #e2b714;              
    border-radius: 5px;
    transition: 0.2s;
}

.mid-header [class]:hover {
    background-color: #52565a;
}

.right-header {
    display: flex;
    align-items: center;
}

.right-header .signup {
    margin-left: 20px;
}

#submit {
    font-size: 1.05rem;
    font-family: monospace;
    width: 200px;
    margin: 10px auto;
    background-color: #45494d;   
    color: #dcd7ba;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

table td, th {
    padding: 10px;
    font-size: 1.1rem;
    width: 300px;
    border-bottom: 1px solid rgb(125, 125, 125);
}

.table {
    padding-top: 40px;
    width: fit-content;
    margin: auto;
}
/* Reaction Time Test */

main {
    margin-top: 15vh;
}

main #canvas {
    position: relative;
    width: 75vw;
    height: 60vh;
    margin: auto;
    background-color: #2c2e31;
    align-content: center;
    text-align: center;
    border-radius: 8px;
}

/* Flicking */

main #canvas #target {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #e2b714;   
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Click Speed Test */

main #canvas #reset {
    color: #323437;
    background-color: #e2b714;
    padding: 5px;
    border-radius: 5px;
}

/* Precision */

main #canvas .targets {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e2b714;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin: 0px;
}

main #canvas #play {
    font-family: monospace;
    color: #323437;
    background-color: #e2b714;
    border: none;
    border-radius: 5px;
}

/* Login / Signup Page */

main form {
    text-align: center;
}

input {
    font-family: monospace;
    font-size: 1.05rem;
    width: 250px;
    margin: 10px;
    background-color: #45494d;   
    color: #dcd7ba;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

main form button {
    font-size: 1.05rem;
    font-family: monospace;
    width: 250px;
    margin: 10px;
    background-color: #45494d;   
    color: #dcd7ba;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

/* Error page */

main #error {
    text-align: center;
    font-size: 2rem;
}