/* Common */
* {
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #d1d0c5;
}

body {
    background-color: rgb(35, 35, 35);
    color: #d1d0c5;
    font-family: monospace;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(237, 237, 237, 0.182);
    font-size: 1.1rem;
}

.left-header {
    align-content: center;
}

.mid-header {
    display: flex;
}

.mid-header [class] {
    margin-left: 20px;
    padding: 5px;
    background-color: rgba(237, 237, 237, 0.216);
    border-radius: 5px;
}

.right-header {
    display: flex;
    align-items: center;
}

.right-header .signup {
    margin-left: 20px;
}

/* Reaction Time Test */

main {
    margin-top : 15vh;
}

main #canvas{
    position: relative;
    width: 75vw;
    height: 60vh;
    margin: auto;
    background-color: rgba(237, 237, 237, 0.182);
    align-content: center;
    text-align: center;
}

/* Flicking */

main #canvas #target {
    position: absolute;
    width: 100px;
    height: 102.25px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;

    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%); 
}


/* Click Speed Test */

main #canvas #reset{
    color: #d1d0c5;
    background-color: rgba(237, 237, 237, 0.216);
    padding: 5px;
    border-radius: 5px;
}

/* Precision */

main #canvas .targets{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin: 0px;
}

main #canvas #play {
    font-family: monospace;
    color: #d1d0c5;
    background-color: rgba(237, 237, 237, 0.216);
    border: none;
}