{% extends "layout.html" %}

{% block main %}

    <p class="clickto" style="text-align: center;">click to start</p>
    <div class="canvas">
        <div id="reset" style="-webkit-user-select:none;user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">try again</div>
        <!-- <button id="reset" style="background-color: rgba(237, 237, 237, 0.216); border: none; color: #d1d0c5; font-family: monospace;">try again</button> -->
    </div>
    <p id="timer" style="font-size: 100px; text-align: center;">0s</p>

{% endblock %}

{% block script %}

    <script src="{{ url_for('static', filename='js/clickspeed.js') }}"></script>

{% endblock %}