{% extends "layout.html" %}

{% block main %}

    <p class="clickto" style="text-align: center;">click the target to start</p>
    <div class="canvas">
        <!-- <img id="target" src="target-image.png" alt="target" width="100" style="border-radius: 50px;"> -->
        <p id="target"></p>
    </div>
    <p id="rtime" style="font-size: 100px; text-align: center;"></p>
    <!-- <ul class="scores">
    </ul> -->

{% endblock %}

{% block script %}

    <script src="{{ url_for('static', filename='js/flicking.js') }}"></script>

{% endblock %}