<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <title>Aim Trainer</title>
    </head>
    <body>
        <nav>
            <div class="left-header"><a href="/">aim trainer</a></div>
            <div class="mid-header">
                <div class="rtt"><a href="/">reaction time test</a></div>
                <div class="flick"><a href="{{ url_for('flicking') }}">flicking</a></div>
                <div class="clickps"><a href="{{ url_for('clickspeed') }}">clicks per second</a></div>
                <div class="precision"><a href="{{ url_for('precision') }}">precision</a></div>
            </div>
            <div class="right-header">
                <div class="login"><a href="{{ url_for('login') }}">login</a></div>
                <div class="signup"><a href="{{ url_for('signup') }}">sign up</a></div>
            </div>
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>
        {% block script %}{% endblock %}
    </body>
</html>
