{% extends "layout.html" %}

{% block main %}

    <p id="score" style="text-align: center;"></p>
    <div id="canvas">
        <button id="play">click to start</button>
        <p class="targets" id="target1"></p>
        <p class="targets" id="target2"></p>
        <p class="targets" id="target3"></p>
        <p class="targets" id="target4"></p>
        <p class="targets" id="target5"></p>
    </div>
    <p id="rtime" style="font-size: 100px; text-align: center;"></p>
    
{% endblock %}

{% block script %}

    <script src="{{ url_for('static', filename='js/precision.js') }}"></script>

{% endblock %}