{% extends "layout.html" %}

{% block main %}
    <form action="/signup" method="post">
        <div>
            <input autocomplete="off" autofocus name="username" placeholder="username" type="text">
        </div>
        <div>
            <input name="password" placeholder="password" type="password">
        </div>
        <div>
            <input name="confirmation" placeholder="confirmation" type="password">
        </div>
        <button type="submit">register</button>
    </form>        
{% endblock %}